@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 0.5px solid gainsboro;
}
.nav > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.elements {
  width: 85%;
}
a {
  text-decoration: none;
  color: black;
  padding: 25px 0;
}
.guest {
  margin: 0 40px;
}
.title {
  padding: 25px 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}
.add {
  width: 95%;
  background-color: white;
  margin: 50px auto;
  padding: 22px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.section {
  width: 95%;
  background-color: white;
  margin: 50px auto;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

#remove {
  width: 90px;
  height: 35px;
  background-color: rgb(205, 5, 5);
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}
form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  padding: 25px;
  background-color: rgb(240, 236, 236);
  border-radius: 7px;
  width: 100%;
  gap: 20px;
}
label {
  margin-left: 2px;
}
input,
select {
  width: 100%;
  padding: 7px 12px;
  font-size: 15px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid rgb(174, 174, 177);
  margin-top: 5px;
}
form > div > button {
  width: 100%;
  padding: 9px 15px;
  border-radius: 5px;
  background-color: #4f46e5;
  color: white;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 5px;
}
.lectures {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(197, 197, 208);
  cursor: pointer;
}

.lectures:hover
{
  background-color: antiquewhite;
  border: 1px solid black;
  border-style: dotted;
  border-radius: 5px;
}
.details > span {
  color: #4f46e5;
  font-size: 20px;
}
.details > span:hover {
  text-decoration: underline 1.5px solid #4f46e5;
}


.details > p {
  margin-top: 8px;
  font-size: 14px;
}
.type {
  padding: 4px 7px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 4px;
}
.active {
  border-bottom: 2px solid #4f46e5;
}



/* res */

@media (max-width: 768px) {

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav {
    display: none;
  }

  .hamburger {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 35px;
    top: 5px;
 
  }

  .hamburger span {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }


  .hamburger span:nth-child(1) {
    top: 0;
    left: 0;
  }


  .hamburger span:nth-child(2) {
    top: 10px;
    left: 0;
  }


  .hamburger span:nth-child(3) {
    top: 20px;
    left: 0;
  }


  
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
    left: 5px;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 11px;
    left: 5px;
  }



  /* nav bar in mobile screen*/

  .nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    padding: 0 10px;
    z-index: 999;
    transition: all 0.9s ease-in-out;
  }

  .nav.active {
    display: block;
  }


  .nav>div {
    display: flex;
    flex-direction: column;
  }

  .nav .elements {
    display: flex;
    flex-direction: column;
    z-index: 999;

  }

  .nav .elements a {
    color: white;
    padding: 11px;

  }


  /* add form respons */

  form{
    grid-template-columns: repeat(1,1fr);
  }
}